apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
  namespace: dockerhub
  labels:
    app: myapp-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: myapp
          image: docker.io/pujan240/k8-private-repo-test:1.0
          ports:
            - containerPort: 5000
